/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  /* Catppuccin Mocha Palette */
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;

  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

i {
  color: var(--text);
  margin-right: 7px;
}

body {
  color: var(--text);
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 600px;
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 40px;
}

#root {
  background: transparent;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 0.5vw;
}

.container {
  height: 100%;
  display: flex;
  gap: 5px;

  &.end {
    justify-self: end;
  }
}

.left,
.center,
.right {
  display: inline-flex;
  align-items: center;
  background: var(--base);
  height: 100%;
  border-radius: 20px;
  transition: width 0.3s ease, padding 0.3s ease;
  /* Optional if content controls width: */
  white-space: nowrap;
  overflow: hidden;
}

.left,
.right {
  padding-left: 10px;
  padding-right: 10px;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
  padding-top: 1px;
}

.left {
  padding-top: 1px;
}

.logo,
.binding-mode,
.paused-button {
  margin-right: 20px;
}

.icon {
  margin-left: 20px;
}

.tiling-direction {
  margin-bottom: 1px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: var(--surface0);
  width: 18px;
  height: 18px;
  margin-left: 6px;
  margin-right: 6px;
  padding: 5px 13px 3px 7px;
  color: var(--subtext1);
  font-weight: 700;
  font-size: 9px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  &.displayed {
    background: linear-gradient(to bottom right, var(--blue), var(--sky));
  }

  &:hover {
    background: var(--subtext1);
    color: var(--surface0);
  }

  &.focused {
    background: linear-gradient(to bottom right, var(--blue), var(--sky));
    color: transparent;
    animation: fadeIn 0.2s ease normal forwards;
    margin-left: 6px;
    margin-right: 6px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 18px;
    height: 18px;
  }
  50% {
    opacity: 1;
    width: 60px;
    height: 22px;
  }
  100% {
    opacity: 1;
    width: 40px;
    height: 22px;
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: var(--surface0);
  color: var(--subtext1);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.tiling-direction:hover {
  background: var(--subtext1);
  color: var(--surface0);
}

.binding-mode {
  margin-right: 4px;
}
